a.nav-link, #footer a {
  color: #C6CBD0;
}

.masthead {
  background-image: url('masthead.jpg');
  background-position: -10px -50px;
  background-repeat: no-repeat;
  background-size: 100% auto;
  min-height: calc(100vw * 0.33);
  padding-top: calc(100vw * 0.01);
}

.lead {
  font-family: 'Fira Sans', sans-serif;
  padding-left: 40px;
  width: calc(100vw * 0.28);
}

#phrases {
  font-family: 'Permanent Marker', cursive;
  padding-left: 40px;
  padding-top: 20px;
}

.body-text {
  color: #E1E2E3;
}

.body-text h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.body-text h1 {
  font-size: 2rem;
}

.body-text h2 {
  font-size: 1.85rem;
}

.body-text h3 {
  font-size: 1.67rem;
}

.headshot {
  margin: auto;
  width: 167px;
}

.blockquote {
  background-image: url('quotes.svg');
  background-position: -30px 0;
  background-repeat: no-repeat;
  font-size: 1rem !important;
  font-style: italic;
  min-height: 120px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-border {
  border: none !important;
}

#footer {
  color: #C6CBD0;
  font-size: 85%;
}

#ccg-logo {
  height: 100px;
  margin:-25px 5px;
}

@media (max-width: 360px) {
  #middle-name { display: none; }
  #phrases div.h1 { font-size: 150% !important; }
}

@media (max-width: 768px) {
  .masthead { background-position: -60px -50px; background-size: 125% auto; min-height: calc(100vw * 0.4); }
}

@media (max-width: 800px) {
  #footer { font-size: 75%; }
  #footer div.col-sm { padding-top: 1rem !important; }
  #ccg-logo { height: 80px; margin:-20px 5px; }
}

@media (min-width: 600px) {
  #footer div.col-sm { padding-top: 1.5rem !important; }
  .footer-middle { text-align: center; }
  .footer-right { text-align: right; }
}

@media (max-width: 1024px) {
  #phrases div.h1 { font-size: 175% !important; }
  .lead { font-size: 15px !important; }
}
