a.nav-link, #footer a {
  color: #C6CBD0;
}

.masthead {
  background-image: url('masthead.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.lead {
  font-family: 'Fira Sans', sans-serif;
  width: 225px;
}

#phrases {
  font-family: 'Permanent Marker', cursive;
  padding-top: 1.2rem;
}

.body-text {
  color: #E1E2E3;
}

.body-text h1, h2, h3 {
  font-family: 'Permanent Marker', cursive;
  text-align: center;
}

.body-text h1 {
  font-size: 2rem;
}

.body-text h2 {
  font-size: 1.85rem;
}

.body-text h3 {
  font-size: 1.67rem;
}

.card-header {
  color: #676A6C;
  font-family: 'Permanent Marker', cursive;
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
}

.card-header svg {
  height: 1em;
  margin-top: -4px;
  width: 1em;
}

.headshot {
  margin: auto;
  width: 167px;
}

.blockquote {
  background-image: url('quotes.svg');
  background-position: -30px 0;
  background-repeat: no-repeat;
  font-size: 1rem !important;
  font-style: italic;
  min-height: 120px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.no-border {
  border: none !important;
}

#footer {
  color: #C6CBD0;
  font-size: 85%;
}

#ccg-logo {
  height: 100px;
  margin:-25px 5px;
}

@media (max-width: 360px) {
  #middle-name { display: none; }
  #phrases div.h1 { font-size: 150% !important; }
}

@media (max-width: 500px) {
  #phrases div.h1 { font-size: 175% !important; }
  .lead { font-size: 15px; width: 160px; }
}

@media (max-width: 768px) {
  .masthead { background-size: 150% auto; min-height: calc(100vw * 0.5); }
  .body-text h1 { font-size: 1.85rem; }
  .body-text h2 { font-size: 1.67rem; }
  .body-text h3 { font-size: 1.4rem; }
  .body-text p { font-size: 0.85rem; }
  #footer { font-size: 75%; }
  #footer div.col-sm { padding-top: 1rem !important; }
  #ccg-logo { height: 80px; margin:-20px 5px; }
}

@media (min-width: 768px) {
  #phrases { padding-top: 3rem; }
}

@media (min-width: 1024px) {
  .masthead { min-height: calc(100vw * 0.33); }
  #footer div.col-sm { padding-top: 1.5rem !important; }
  .footer-middle { text-align: center; }
  .footer-right { text-align: right; }
}
