.site-footer {
  background: $color-dark-teal;
}

.footer-content {
  padding: 20px 0;
}

.footer-links {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-links a {
  color: $color-silver;
  text-decoration: underline;
  font-size: $font-size-footer-link;
}

.copyright {
  color: $color-med-gray;
  font-size: $font-size-copyright;
}
